@import "./_mixins/mixins";

$main-text: Arial, "Times New Roman", sans-serif;
$main-color: #434344;
$rf-size: 16px;
$bg-main: #CFD0CF;
$z-index: 20;

* {
  box-sizing: border-box;
  padding: 0;
  @include margin("", 0);
  list-style-type: none;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: $bg-main;
  font: {
    family: $main-text;
    weight: 400;
    size: $rf-size;
    style: normal;
  }
  color: $main-color;
  @include margin("auto", 0);
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 0 1px hsla(200, 52%, 6%, 0.02);
  letter-spacing: setFontSizeRem($rf-size, 0.2);
}

.header {
  position: relative;
  width: 100%;
  height: auto;

  &__inner {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 1640px;
    padding: 40px 0;
    @include margin("auto", 0);
    text-align: center;
  }

  &__heading {
    position: relative;
    height: auto;
    font: {
      size: setFontSizeRem($rf-size, 42);
      family: Arial, "Times New Roman", sans-serif;
      style: normal;
      weight: 700;
    };
    line-height: setFontSizeRem($rf-size, 47);
  }
}

.main {
  position: relative;
  width: 100%;
  height: auto;
  &__timer {
    height: auto;
    text-align: center;
    @include margin("top", 30px);
    font: {
      size: setFontSizeRem($rf-size, 32);
      family: Arial, "Times New Roman", sans-serif;
      style: normal;
      weight: 600;
    };
    line-height: setFontSizeRem($rf-size, 36);
  }
}

.section {
  display: grid;
  grid-template-columns: repeat(4, 130px);
  grid-auto-rows: minmax(130px, 1fr);
  justify-content: center;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  max-width: 600px;
  height: auto;
  @include margin("auto",0);
  perspective: 600px;

  &__card {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    @include border-radius(9px);
    background-color: #ffffff;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    transition: background-color 0.1s 0s linear, transform 0.35s 0s ease-in-out;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);

    &_front,
    &_back {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      @include border-radius(9px);
      backface-visibility: hidden;
    }

    &_front {
      border: 5px solid #ffffff;
      z-index: $z-index / 10;
      background-image: linear-gradient(45deg, #22AB93, #19668D);
    }

    &_back {
      &:before {
        content: attr(data-emoji);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) rotateY(180deg);
        font-size: setFontSizeRem($rf-size, 75);
      }
    }

    &_turned {
      transform: rotateY(180deg);
    }

    &_match {
      background-color: #5ad66f;
      border-color: transparent;
      pointer-events: none;
    }

    &_nomatch {
      background-color: #f44336;
      border-color: transparent;
      pointer-events: none;
    }
  }
}

.modal-overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: $z-index / 2;
  &_show {
    display: flex;
  }
  &_hide {
    display: none;
  }
}
.modal-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  min-width: 350px;
  @include margin("auto", 0);
  background-color: #ffffff;
  z-index: $z-index / 2;
  padding: 30px;
  &__title {
    flex: 1 1 100%;
    text-align: center;
    font: {
      size: setFontSizeRem($rf-size,48);
      weight: 700;
      style: normal;
    };
    line-height: setFontSizeRem($rf-size,30);
    @include margin("bottom", 40px);
  }
  &__btn {
    flex: 0 1 auto;
    border: 1px solid transparent;
    padding: 10px 30px;
    cursor: pointer;
    z-index:$z-index;
    @include border-radius(9px);
    background-image: linear-gradient(90deg,#19668D, #22AB93 );
    & .modal-wrapper__text {
      color: #ffffff;
      font: {
        size: setFontSizeRem($rf-size,20);
        weight: 400;
      };
    }
  }
}